<a href="https://colab.research.google.com/github/ThanhPhuongDA/webscraping/blob/main/TSLA_StockpricesYahoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import libraries

In [1]:
import time
import datetime
import pandas as pd

Work with TESLA stock (TSLA) and choose the time period that you want to get data of TESLA stock prices from Yahoo Finance

In [2]:
ticker = 'TSLA'
period1 = int(time.mktime(datetime.datetime(2021,12,1,23,59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2021,12,31,23,59).timetuple()))
interval = '1wk'

Call the query string

In [3]:
query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [4]:
print(query_string)

https://query1.finance.yahoo.com/v7/finance/download/TSLA?period1=1638403140&period2=1640995140&interval=1wk&events=history&includeAdjustedClose=true

Read the file in CSV format

In [5]:
df = pd.read_csv(query_string)
print(df)

         Date        Open        High         Low       Close   Adj Close  \
0  2021-11-29  386.899994  390.946655  333.403320  338.323334  338.323334
1  2021-12-06  333.836670  357.459991  316.833344  339.010010  339.010010
2  2021-12-13  333.696655  335.000000  303.013336  310.856659  310.856659
3  2021-12-20  303.566681  357.660004  295.373322  355.666656  355.666656
4  2021-12-27  357.890015  373.000000  351.049988  352.260010  352.260010

      Volume
0  233887200
1  298756800
2  407779800
3  314345400
4  275398500

Export to CSV file in your local computer

In [6]:
df.to_csv(r'C:\Users\PHUONG\Desktop\Tesla stock price 2022.csv', index=False, header=True)

In [7]:
print(df)

         Date        Open        High         Low       Close   Adj Close  \
0  2021-11-29  386.899994  390.946655  333.403320  338.323334  338.323334
1  2021-12-06  333.836670  357.459991  316.833344  339.010010  339.010010
2  2021-12-13  333.696655  335.000000  303.013336  310.856659  310.856659
3  2021-12-20  303.566681  357.660004  295.373322  355.666656  355.666656
4  2021-12-27  357.890015  373.000000  351.049988  352.260010  352.260010

      Volume
0  233887200
1  298756800
2  407779800
3  314345400
4  275398500

Read the saved file

In [8]:
df_saved_file = pd.read_csv('Tesla stock price 2022.csv')
df_saved_file

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
0,0,2021-11-29,386.899994,390.946655,333.403320,338.323334,338.323334,233887200
1,1,2021-12-06,333.836670,357.459991,316.833344,339.010010,339.010010,298756800
2,2,2021-12-13,333.696655,335.000000,303.013336,310.856659,310.856659,407779800
3,3,2021-12-20,303.566681,357.660004,295.373322,355.666656,355.666656,314345400
4,4,2021-12-27,357.890015,373.000000,351.049988,352.260010,352.260010,275398500